<!-- views/index.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registered Students</title>
  <style>
    .pagination {
      display: flex;
      list-style: none;
      padding: 0;
    }
    .pagination li {
      margin-right: 5px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Registered Students</h1>
  <ul>
    {{#each data}}
      <li><strong>{{this.fullName}}</strong> ===> {{this.email}} ==> ({{this.phoneNumber}})</li>
    {{/each}}
  </ul>

  <ul class="pagination">
    {{#if totalPages}}
      {{#each pages}}
        <li><a href="/data?page={{this}}">{{this}}</a></li>
      {{/each}}
    {{/if}}
  </ul>

</body>
</html>
